.prose {
  max-width: 50rem;
}

.prose code:not(:where([data-code-type='code-block'])) {
  border:1px solid #00ff94;
  font-family: 'Fira Code', monospace;
  font-size: 0.95rem;
  color: #00ff94;
  background: rgba(255, 255, 255, 0.15); 
  backdrop-filter: blur(10px); 
  border-radius: 12px;
  padding: 1.5rem;
  margin: 0.3rem 0; 
  box-shadow:
    inset 3px 3px 5px rgba(128, 126, 126, 0.2),
    3px 3px 5px rgba(0, 0, 0, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.1); 
  
}

.dark .prose pre{
  background:transparent;
  border:1px solid #5f6160;
  border-radius:12px;
}
.light .prose pre{
  background:rgba(0, 255, 148,0.12);
 
  border-radius:12px;
}

.light .prose code {
  border:2px solid #23a06c;
  font-family: 'Fira Code', monospace;
  font-size: 0.96rem;
  color: #000;
   
  backdrop-filter: blur(10px); 
  border-radius: 12px;
  padding: 1.5rem;
  margin: 0.3rem 0; 
  box-shadow:
    inset 3px 3px 5px rgba(47, 199, 60, 0.2),
    3px 3px 5px rgba(60, 189, 38, 0.1),
    5px 5px 15px rgba(39, 238, 145, 0.1); 
  
}

.prose a {
  text-decoration: none;
  color: #3fb13f; 
}

.prose a:hover,
.prose a:focus {
  color: #ffffff; 
}

.dark .prose a {
  text-decoration: none;
  color: #186c18;
}

.dark .prose a:hover,
.dark .prose a:focus {
  color: #ffffff; 
}




.prose > ol > li > :last-child,
.prose > ul > li > :last-child {
  margin-bottom: 0;
}
.prose > ol > li > :first-child,
.prose > ul > li > :first-child {
  margin-top: 0;
}

.light .prose blockquote {
  border-style: solid;
  border-width: 0 0 0 0.25rem;
  border: 1px solid rgba(72, 216, 33, 0.2);
  border-radius: 10px;
  padding: 1rem;
  background-color: #f0fff4;
  color: #006400; 
  font-style: italic;
  position: relative;
  margin: 1.5rem 0;
}

.dark .prose blockquote {
  background-color: #292a29; /* Dark green background */
  color: #00ff94; /* Bright green text */
  border-radius: 10px;
  box-shadow: 
    5px 2px 4px rgba(31, 32, 31, 0.3), /* Subtle darker inner shadow for depth */
    -3px -2px 4px rgba(87, 143, 87, 0.4); /* Subtle lighter outer shadow for raised effect */
  padding: 1rem;
  position: relative;
  margin: 1.5rem 0;
  /* border: 1px solid #00ff95ad; */ /* Optional border */
}




.prose blockquote p:first-of-type::before,
.prose blockquote p:last-of-type::after {
  content: '';
}

.prose blockquote::before {
  
  font-size: 3rem;
  color: #00ff94;
  position: absolute;
  top: -0.5rem;
  left: -1.5rem;
}

.prose blockquote::after {
 
  font-size: 3rem;
  color: #00ff94;
  position: absolute;
  bottom: -0.5rem;
  right: -1.5rem;
}

.prose blockquote p {
  margin: 0;
  padding: 0.5rem;
}

.prose hr {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-image: linear-gradient(to right, #00ff9480, #00e0f380, #00c4fd80) 1;
}

.mdx.prose :where(h1, h2, h3, h4) {
  scroll-margin-top: 100px;
  position: relative;
  display: block;
  margin-right: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}

.mdx.prose :where(h1, h2, h3, h4) > a {
  border-bottom: none;
}

/* Custom Heading Style for Projects */
.mdx.prose.projects blockquote {
  font-style: normal;
}
.mdx.prose.projects blockquote:first-of-type h2 {
  margin-top: 1rem;
}
.mdx.prose.projects blockquote.with-icons h2 {
  margin-bottom: 0;
}

/* Apply shadow to Youtube Embed */
.mdx.prose .yt-lite {
  @apply overflow-hidden rounded shadow-sm dark:shadow-none;
}

/** HASH ANCHOR */
.hash-anchor {
  @apply inset-y-0 w-full;
  position: absolute;
  background-image: none;
  transition: none;
}

.hash-anchor:hover {
  background-image: linear-gradient(to right, #00ff94, #00e0f3, #00c4fd);
  background-size: 100% 2px;
}

.hash-anchor:hover:after,
.hash-anchor:focus:after {
  visibility: visible;
}

.hash-anchor:after {
  @apply invisible absolute -right-5 top-1/2 -translate-y-1/2 text-lg text-lime-300 dark:text-lime-300;
  content: '#';
}
